@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

 :root{
    --blue:#214A91;
    --black:#444;
    --white:#fff;
    --light-color:#777;
    --border:.2rem solid rgba(0,0,0,.1);
    --border-b: .2rem solid var(--blue);
    --box-shadow-c: .5rem .5rem 0 rgba(33, 74, 145, 0.2);
    --box-shadow:0 .5rem 1.5rem rgba(0, 0, 0, .1);
    --text-shadow: .4rem .4rem 0 rgba(0, 0, 0, .1);
}


  *{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    outline: none; 
    border:none;
    text-decoration: none;
    text-transform: none;
 }
 
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6.5rem;
}



/* header section*/
.header{
    padding: 2rem;
    border-bottom: var(--border);
    box-shadow: var(--box-shadow);
    background: var(--white);
}

.header .logo{
    font-size: 2rem;
    color:var(--black);
}

.header .nav a{
    margin:0 1rem;
    font-size: 1.7rem;
    color:var(--black);
}

.header .nav a:hover{
    color:var(--blue);
}

#menu-btn{
    font-size: 2.5rem;
    color: var(--black);
    cursor: pointer;
    display: none;
}

.heading span{
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    font-size: 4rem;
    letter-spacing: .4rem;
    color: var(--blue);
}

.heading{
    padding-bottom: 2rem;
    font-size: 2rem;
    letter-spacing: .2rem;
    color: var(--black);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem;
    padding-left: 1rem;
    border: var(--border-b);
    border-radius: .5rem;
    box-shadow: var(--box-shadow-c);
    color: var(--blue);
    cursor: pointer;
    font-size: 1.8rem;
}

.btn span{
   padding: .7rem 1rem;
   border-radius: .5rem;
   background: var(--blue);
   color: var(--white);
   margin-left: .5rem;
}

.btn:hover{
    background: var(--blue);
    color: var(--white);
}

.btn:hover span{
   color: var(--blue);
   background: var(--white);
   margin-left: 1rem;
}

/* participantes registrados section */
.participantes{
    justify-content: center;
    text-align: center;
    padding: 12rem 9%;
}
.participantes .card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 2rem;
    padding: 3.5rem;
    justify-content: center; 
}

.participantes .card-container .card{
    text-align: center;
    background: var(--white);
    border-radius: .5rem;
    border: var(--border-b);
    box-shadow: var(--box-shadow-c);
    padding: 2rem;
    overflow: hidden; 
}

.participantes .card-container .card img{
    height: 22rem;
    border: var(--border-b);
    border-radius: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.participantes .card-container .card h3{
    color: var(--black);
    font-size: 2.5rem;
}

.participantes .card-container .card span{
    color: var(--blue);
    font-size: 1.5rem;
}






/* media queries */
@media (max-width:991px){
    html{
        font-size: 55%;
    }

    .participantes{
        padding: 2rem;
    }
}

@media (max-width:768px){
    #menu-btn{
        display: inline-block;
        transition: .2s linear;
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
    }

    .header .nav{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--white);
        border-top: var(--border);
        border-bottom: var(--border);
        padding: 1rem 0;
        text-align: center;
        flex-flow: column;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;
    }

    .header .nav.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .nav a{
        margin: 1rem 0;
        font-size: 2rem;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
}